<!DOCTYPE html>
<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container">
    <h1>Modifier un Membre Accueil</h1>
    <form method="POST">
        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" name="nom" id="nom" value="{{ membre.nom }}" required>
        </div>
        <div class="form-group">
            <label for="prenom">Prénom :</label>
            <input type="text" name="prenom" id="prenom" value="{{ membre.prenom }}" required>
        </div>
        <button type="submit" class="btn-edit">Modifier</button>
    </form>
    <a href="{{ url_for('accueil.list_accueil') }}">Retour à la liste</a>
</div>
{% endblock %}